<footer class="dash-footer">
    <div class="dash-footer__inner">
        <p>&copy; 2026 Camarines Sur Polytechnic Colleges. All rights reserved.</p>
        <p>CampusSphere - Your Digital Campus Guide</p>
    </div>
</footer>
