<nav class="navbar" id="navbar">
    <div class="navbar__links" id="navLinks">
    </div>

    <button class="navbar__hamburger" id="hamburger" aria-label="Toggle menu">
        <span></span>
        <span></span>
        <span></span>
    </button>
    </div>
</nav>
